:root{
  --middle-blue-green: #84DCC6;
  --mint-cream: #F4FFFA;
  --vivid-tangerine: #FFA69E;
  --aquamarine: #A5FFD6;
  --light-pink: #FFB4B5;
  --jet: #2d2925;
  --bittersweet: #FF686B;

}
* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--mint-cream);
  height: 100vh;
}

header {
  display: flex;
  height: 90px;
  background-color: var(--middle-blue-green);
  align-items: center;
  box-shadow: #00000084 0px 1px 40px;
}
header span {
  font-size: 3em;
  font-family: "Playfair Display", serif;
  margin: 20px;
  color: #fff;
}

.coins {
  display: flex;
  margin-top: 10vh;
  color: var(--jet);
  justify-content: space-around;
}

.coins div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 58px;
  width: 300px;
  border-radius: 5px;
  background-color: var(--vivid-tangerine);
  margin-bottom: 10vh;
}

.coins select {
  width: 70%;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: Playfair Display;
  font-size: 1.4em;
  font-weight: 800;
}

.coins option{
  background-color: inherit;
}

.coins hr {
  height: 30px;
  width: 1px;
  margin: 0 5px;
  background-color: black;
  border: none;
}

.coins input {
  width: 30%;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;

  background-color: initial;
  border: none;
  outline: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.info-coins {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: var(--jet);
  height: 100%;
}

.info-coins > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--aquamarine);
  height: 50vh;
  width: 65%;
  border-radius: 10px;
  border: solid 1px;
  box-shadow: rgba(0, 0, 0, 0.32) 10px 10px 20px;
}

.info-coins > div > span {
  align-self: flex-start;
  margin: 30px 30px 60px 30px;
  font-size: 2em;
  font-weight: 800;
}

.info-coins > div > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}

.info-coins > div > div div {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 30%;
  height: 60px;
  background-color: var(--light-pink);
  font-size: 1.2em;
  padding-left: 20px;
  border-radius: 8px;
}

.info-coins > div > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40%;
  background-color: var(--jet);
  font-size: 1.5em;
  border-radius: 5px;
}

.info-coins > div > div:nth-child(3) span{
  padding: 10px;
  color: #fff;
}

@media (max-width:675px) {

  header span {
    font-size: 10vw;
  }

  .coins {
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }

  .coins div {
    margin-bottom: 5vh;
  }

  .info-coins > div > span {
    margin-bottom:3.5vh;
  }

  .info-coins > div {
    height: 99.8%;
    width: 100%;
    border-radius: unset;
    border: none;
    border-top: solid 1px;
  }

  .info-coins > div > div div {
    width: 40%;
    height: 80px;
    overflow: hidden;
  }

  .info-coins > div > div:nth-child(3) {
    height: 47%;
  }
}